@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import "../src/client/component/styles/hero-heading.css";
@import "../src/client/component/styles/header.css";
@import "../src/client/component/styles/location.css";
@import "../src/client/component/styles/listing.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
